<div class="form-wrapper">
    <form class="form-horizontal" [formGroup]="form">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-1 form-control-label">Name</label>
            <div class="col-sm-11">
                <input type="text" name="name" formControlName="name" class="form-control" id="inputEmail3" placeholder="Name">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-1 form-control-label">Address</label>
            <div class="col-sm-11">
                <textarea placeholder="Default Input" name="address" formControlName="address" class="form-control" id="textarea01"></textarea>
            </div>
        </div>


        <!--<div class="form-group">
    <label for="input04">With help</label>
    <input type="text" class="form-control" id="input04" placeholder="With help">
    <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond one line.</span>
  </div>-->


        <!--<div class="input-group">
            <span class="input-group-addon addon-left input-group-addon-success">Rent $</span>
            <input type="text" class="form-control with-success-addon" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon addon-right input-group-addon-success">.00</span>
        </div>-->

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-1 form-control-label">Description</label>
            <div class="col-sm-11">
                <textarea placeholder="Default Input" name="des" class="form-control" id="textarea01"></textarea>
            </div>
        </div>

        <!--<div class="input-demo checkbox-demo row">
            <ba-multi-checkbox [(ngModel)]="checkboxModel" [propertiesMapping]="checkboxPropertiesMapping"></ba-multi-checkbox>
        </div>-->
    </form>
</div>